<div class="footerContainer">
   
    <div class="navFluxograma">
        <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
        </ul>

        <a id="nome-campus" href="#">
            <div id="campus-background" class="rounded">
                <h4>
                    INSTITUTO FEDERAL DE<br> EDUCAÇÃO, CIÊNCIA E TECNOLOGIA
                </h4>
                <h5>
                    Bahia<br> Campus Vitória da Conquista
                </h5>
            </div>
        </a>
    </nav>
    </div>

</div>