.footerContainer {
    position: fixed;
    bottom: 0px;
    height: 9vh;
    width: 100vw;
    background-color: #343A40;
    padding: 0px;
}

.footerButtons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.footerButtons a {
    text-decoration: none;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    font-size: 170%;
    text-align: center;
}