.footerContainer {
    display:flex;
    align-items: center;
    justify-content: space-around;
    height:7vh;
    background-color: #343A40;
    
}

.footerContainer a {
    text-decoration: none;
}

.cursos-footer {
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
}

.equipe-footer {
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
}

.ajuda-footer {
    color: white;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
}

.equipe-footer > a:hover {

}