<app-nav></app-nav>
<div class="fluxogContainer">
    <div *ngIf="curso" class="row" [style.width.px]="widthFluxograma">

        <div *ngFor="let periodo of gradeCurso">

            <a id="periodo-box" (click)="updatePeriodoColor(periodo.periodo)"  class="border border-black rounded">{{periodo.periodo}}° Semestre</a>
            <div *ngFor="let materia of periodo.materias">
                <div>
                    <a id="nome-box" (click)="updateGradeColor(materia)" [ngStyle]="{ 
                        'background-color': materia.cor.background, 
                        'color': materia.cor.texto,

                        'text-shadow': materia.cor.shadowColor
                        }">
                        <div id="text-center">
                            {{materia.nome}}
                        </div>
                    </a>
                </div>
                

            </div>

        </div>
    </div>
<div>
