.faculdadePesquisadaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    background-color: #E4E4E4;
    
}

.tituloFaculdadeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150px;
    background-color: #343A40;
    margin-bottom: 20px;
}

#logoFaculdadeTitulo {
    width: 60px;
    height: auto;
    margin-right: 2%;
    margin-left: 5%;
}

.nomeFaculdadeContainer {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
}

.tituloFaculdade {
    font-size: 200%;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(190, 190, 190);
    text-align: center;
}



#nomeFaculdade {
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(68, 67, 133);
    text-shadow: 0.5px 0.5px 0.5px white;
}

#campusFaculdade {
    font-size: 20px;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(22, 102, 102);
    text-shadow: 0.5px 0.5px 0.5px white;
}

.searchCursos {
    display: flex;
}

.input-group-prepend {
    margin: 3px;
    margin-bottom: 9px;
}

.cursosContainer {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
    overflow-x: auto;
}

.infoCursoContainer {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.infoCurso {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    height: 100px;
    background-color: #D6D8DB;
    border: 0.1px solid rgb(158, 158, 158);
    padding-left: 5%;
}

.infoCurso:hover {
    text-decoration: none;
    border: none;
    background-color: rgb(127, 127, 127, 0.3);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.logoFaculdadeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 127, 0.3);
    height: 100px;
    width: 60px;
    cursor: pointer;
}

#logoFaculdade {
    width: 30px;
    height: auto;
}

.nomeCursoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

#nomeCurso {
    font-size: 100%;
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 0.5px 0.5px 0.5px white;
    margin-top: 2%;
}

.turnoCursoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 127, 0.2);
    height: 100%;
    width: 100px;
    border-left: 0.1px solid rgb(158, 158, 158);
    
}

#turnoCurso {
    font-size: 100%;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(114, 41, 41);
    text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255);
    text-align: center;
    margin-top: 2%;
}

#nenhumCursoAdcionado {
    margin-top: 10%;
}