.cursoPesquisadoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 93vh;
    background-color: #E4E4E4;
    overflow-x: auto;
    padding-top: 2.5%;
}

.tituloCurso {
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    color: rgb(85, 85, 85);
    text-shadow: 1px 1px 1px rgb(190, 190, 190);
}

.searchCursos {
    display: flex;
}

.input-group-prepend {
    margin: 3px;
}

.cursosContainer {
    display: flex;
    flex-direction: column;
}

.cursoContainer {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.logoFaculdadeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 127, 0.3);
    height: 100px;
    width: 60px;
    cursor: pointer;
}

.logoFaculdadeContainer:hover {
    background-color: rgb(127, 127, 127, 0.7);
}

#logoFaculdade {
    width: 30px;
    height: auto;
}

.infoCursoContainer {
    display: flex;
    align-items: center;
    width: 880px;
    height: 100px;
    background-color: #D6D8DB;
    border: 0.1px solid rgb(158, 158, 158);
}

.infoCursoContainer:hover {
    text-decoration: none;
    border: none;
    background-color: rgb(127, 127, 127, 0.3);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.infoCursoDetailsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#nomeCurso {
    font-size: 100%;
    font-family: 'Century Gothic', sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0.5px 0.5px 0.5px white;
    text-align: center;
    margin-top: 1%;
}

#nomeFaculdade {
    font-size: 100%;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(68, 67, 133);
    text-shadow: 0.5px 0.5px 0.5px white;
    text-align: center;
    margin-top: 1%;
}

#campusFaculdade {
    font-size: 100%;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(22, 102, 102);
    text-shadow: 0.5px 0.5px 0.5px white;
    text-align: center;
    margin-top: 1%;
}

.turnoCursoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 127, 0.2);
    height: 100%;
    width: 100px;
    border-left: 0.1px solid rgb(158, 158, 158);
    margin-left: auto;
}


#turnoCurso {
    font-size: 100%;
    font-family: 'Century Gothic', sans-serif;
    color: rgb(114, 41, 41);
    text-shadow: 0.3px 0.3px 0.3px rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
}