<div class="cursoPesquisadoContainer">

  <h1 class="tituloCurso">{{nomeCurso}}</h1>
  <div class="searchCursos">
    <div class="input-group-prepend">
      <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar faculdade" aria-label="Search">
    </div>
    <div class="input-group-prepend">
      <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar campus" aria-label="Search">
    </div>
    <div class="input-group-prepend">
      <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar turno" aria-label="Search">
    </div>
  </div>


  <div class="cursosContainer">
    <div *ngFor="let curso of this.getCursosByName(nomeCurso)" class="infoCursoContainer">
      <div (click)="onSelect(curso.idCurso)"class="logoFaculdadeContainer">
        <img  id="logoFaculdade" src="../../assets/img/{{getLogoIdFaculdade(curso.idCurso)}}.png">
      </div>
      <a (click)="onSelect(curso.idCurso)" class="infoCurso">
        <p id="nomeCurso">{{curso.curso}}</p>
        <p class="divisorInforCurso">-</p>
        <p id="nomeFaculdade">{{getNomeFaculdade(curso.idCurso)}}</p>
        <p class="divisorInforCurso">-</p>
        <p id="campusFaculdade">{{getCampusFaculdade(curso.idCurso)}}</p>
        <p class="divisorInforCurso">-</p>
        <p id="turnoCurso">{{curso.turno}}</p>
      </a>
    </div>


  </div>

</div>