.navContainer {
    display: flex;
    height:10%;
}


.navbar-dark {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    background-color: rgb(158, 158, 158);
    /*background-color: #1E962A;*/
    padding: 0px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nav-tabs {
    height: 100%;
    width: 100%;
    border-left: 2px solid #343A40;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    height: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgb(158, 158, 158);
    /*background-color: #1E962A;*/
    color: #ffffff;
    font-family: 'Century Gothic', sans-serif;
}

.nav-tabs>li>a {
    color: #e0dfdf;
    font-family: 'Century Gothic', sans-serif;
}

.nav-tabs>li>a:hover {
    border-top: 0.5px solid white;
    border-left: 0.5px solid white;
    border-right: 0.5px solid white;
    background-color: rgb(113, 114, 113);
    color: white;
    font-family: 'Century Gothic', sans-serif;
}

.navbar-toggler {
    margin-left: 14px;
    border-color: rgba(31, 167, 72, 0);
    border-right: 1px solid white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----------- NOME DO CURSO ---------------------*/

#nome-curso {
    color: white;
    margin-left: 0px;
    text-align: center;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20pt;
    width: 100%;
}

#nome-curso:hover {
    text-decoration: none;
}

#nome-curso-backgroud {
    height: 100%;
    
    margin: 0px;
    background-color: rgb(158, 158, 158);
    /*background-color: #71C837;*/
    /*background-color: #28A745;*/
    /*58, 58, 151*/
    /*azul rgb(68, 68, 156)*/
    /*roxo #8a458f */
    /*border-left: 2px solid white;*/
    /*border-right: 2px solid rgb(0, 0, 0);*/
}

#text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 1px 1px black;
    
}


/*----------- NOME DO CURSO ---------------------*/




.faculdade-nav {
    width: 30%;
    height: 100%;
    color: rgb(158, 158, 158);
}

#logoCurso-nav {
    width: 10%;
    height: 100%;
    background-size: 100%;
    
}