<div class="pos-f-t">
    <nav class="navbar navbar-dark ">

        <div class="nav-item">
            <a id="nome-curso" href="#">
                <div id="nome-curso-backgroud" class="rounded">
                    <div id="text-center">
                        {{nomeCurso}}
                    </div>
                </div>
            </a>
        </div>







      
        <div class="nav-item">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                </span>
            </button>
        </div>

    </nav>
</div>