    .pos-f-t {
        height: 55px;
        padding-top: 0px
    }

    .navbar-dark {
        height: 55px;
        background-color:  rgb(70, 70, 255);
        padding: 0px;
        padding-right: 0px;
        user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .navbar-toggler {
        margin-right: 25px;
 
        border-color: rgba(255, 255, 255, 0);
    }

    .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }



    #nome-curso {
        display: block;
        color: white;
        margin-left: 0px;
        text-align: center;
        font-family: 'Century Gothic', sans-serif;
        font-size: 16pt;
        
    }

    #nome-curso:hover {
        text-decoration: none;
    }

    #nome-curso-backgroud {
        height: 55px;
        width: 350px;
        margin: 0px;
        background-color: rgb(46, 46, 124);
        /*58, 58, 151*/
        /*azul 44, 44, 153*/
        
    }

    #outros-cursos {
        display: block;
        color: white;
        margin-right: 0px;
        text-align: center;
        font-family: 'Century Gothic', sans-serif;
        font-size: 20pt;
        
        
    }

    #outros-cursos:hover {
        text-decoration: none;
    }

    #outros-cursos-backgroud {
        height: 55px;
        width: 150px;
        margin-right: 100px;
        margin-bottom: 1px;
        padding-bottom: 2px;
        background-color: rgba(0, 0, 0, 0);
        border-left: 1px solid white;
        border-right: 1px solid white;

        /*azul 44, 44, 153*/
        
    }


    #text-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        
    }