
.minhaGradeContainer {
    background-color: rgb(228, 228, 228);
    overflow-y: auto;
    height:83vh;
    width: 100vw;
    padding-left: 1vw;
}

.row {
    margin: 1px;
    margin-top: 3px;
}

#periodo-box {
    display: block;
    background-color: white;
    width: 135px;
    height: 30px;
    padding-bottom: 10px;
    margin: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 11pt;
    
    
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#nome-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 90px;
    margin: 8px;
    padding: 2%;
    border-radius: 5px;
    
    
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

}


#text-center {
    font-family: 'Century Gothic', sans-serif;
    font-size: 77%;
    font-weight: 500;
    /* font-size: 0.786vw; */
    text-align: center;
    
}