<h1 class="tituloFaculdades">
    Faculdades
</h1>
<div class="input-group-prepend">
    <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar Faculdades"
    [(ngModel)]="searchTerm">
</div>

<div class="faculdadesContainer" >
<div *ngFor="let faculdade of filteredFaculdades">
    <a (click)="onSelect(faculdade.idFaculdade)" class="infoFaculdade">
        <img class="logoFaculdade" src="../assets/img/{{faculdade.idLogoFaculdade}}.webp">
        <div class="nomeCampusFaculdade">
            <p id="nomeFaculdade">{{faculdade.faculdade}}</p>
            <p id="campusFaculdade">Campus - {{faculdade.campus}}</p>
        </div>
    </a>
</div>
        
        
</div>

