<div class="navContainer">
    <nav class="navbar navbar-dark navbar-expand-sm bg-dark">
        <ul class="nav nav-tabs">
            <li class="nav-item activate">
                <a [routerLink]="['/fluxograma']" class="nav-link">Fluxograma</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/fluxograma']" class="nav-link">Minha Grade</a>
            </li>
        </ul>

        <a id="nome-curso">
            <div id="nome-curso-backgroud">
                <div id="text-center">
                    {{nomeCurso}} - {{turnoCurso}}
                </div>
            </div>
        </a>

    </nav>


    <img src="./assets/img/IFBA.png" alt="Logo Faculdade" class="logoFaculdade-nav">

    <div class="faculdade-nav">

        <p class="nomeFaculdade-nav">{{nomeFaculdade}}</p>
        <p class="campusFaculdade-nav">{{campusFaculdade}}</p>
    </div>
</div>