<div class="navContainer">
    <div class="navBarContainer">

        <nav class="navMenuContainer">
            <a (click)="onSelectFluxograma(idCurso)" class="navMenuLink">
                <p class="textMenuContainer">Fluxograma</p>
            </a>
            <a (click)="onSelectMinhaGrade(idCurso)" class="navMenuLink">
                <p class="textMenuContainer">Minha Grade</p>
            </a>
        </nav>

        <div class="nomeCursoContainer">
            <p class="nomeCurso">
                {{nomeCurso}} - {{turnoCurso}}
            </p>
        </div>

    </div>
    <a (click)="onSelectFaculdade(idFaculdade)" class="navFaculdadeInfo">
        <img src="./assets/img/{{idLogoFaculdade}}.webp" alt="Logo Faculdade" class="logoFaculdade-nav">

        <div class="faculdade-nav">

            <p class="nomeFaculdade-nav">{{nomeFaculdade}}</p>
            <p class="campusFaculdade-nav">{{campusFaculdade}}</p>
        </div>
    </a>
</div>