.equipeContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 86vh;
    width: 100vw;
    background-color: #E4E4E4;
}

.equipeDetalhes {
    height: 50vh;
}

.tituloEquipe {
    width: 100vw;
    font-family: 'Century Gothic', sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(85, 85, 85);
    text-shadow: 1px 1px 1px rgb(190, 190, 190);
    font-weight: bold;

}

.equipe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.nomeAvatar {
    text-align: center;
    font-weight: bold;
}

.textAvatar {
    text-align: center;
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    
}

.avatar-stack {
    width: 200px;
    height: 110px;
    margin-bottom: 15%;
}

* {
    padding: 0px;
    margin: 0px;
}