<app-nav-equipe></app-nav-equipe>

<div class="equipeContainer">

    <div class="equipeDetalhes">
    <h1 class="tituloEquipe">
        Equipe
    </h1>

    <div class="equipe">
        <div class="avatarContainer">
            <img class="avatar" src="../../assets/img/foto1.webp">
            <p class="nomeAvatar">Samuel Novaes</p>
            <p class="textAvatar">Desenvolvedor Front-End</p>
        </div>
        <div class="avatarContainer">
            <img class="avatar" src="../../assets/img/foto2.webp">
            <p class="nomeAvatar">Samuel Novaes</p>
            <p class="textAvatar">Desenvolvedor Back-End</p>
        </div>
        <div class="avatarContainer">
            <img class="avatar" src="../../assets/img/foto3.webp">
            <p class="nomeAvatar">Samuel Novaes</p>
            <p class="textAvatar">Designer</p>
        </div>
        <div class="avatarContainer">
            <img class="avatar-stack" src="../../assets/img/foto4.webp">
            
            <p class="textAvatar">Desenvolvedor FullStack</p>
        </div>
    </div>
</div>
</div>