<h1 class="tituloCursos">
    Cursos
</h1>
<div>
    <div class="input-group-prepend">
        <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar Cursos" aria-label="Search">
    </div>
</div>

<div class="cursosContainer">



    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>
    <a [routerLink]="['/fluxograma']" class="infoCurso">
        <div class="nomeCurso">
            <p id="nomeCurso">Engenharia Elétrica</p>
        </div>
    </a>

</div>