<h1 class="tituloCursos">
    Cursos
</h1>
<div>
    <div class="input-group-prepend">
        <input class="form-control my-0 py-1" type="text" placeholder="Pesquisar Cursos" aria-label="Search">
    </div>
</div>


<div class="cursosContainer">

    <div *ngFor="let curso of cursos">
        <a class="infoCurso" (click)="onSelect(curso.curso)" >
            <div class="nomeCurso">
                <p id="nomeCurso">{{curso.curso}}</p>
            </div>
        </a>
    </div>

</div>

{{cursos}}