.navContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 7vh;
    width: 100vw;
    background-color: rgb(52, 58, 64);
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.navLink:hover {
    background-color: rgb(52, 58, 64, 0.7);
}

.textLink {
    font-family: 'Century Gothic', sans-serif;
    font-size: 120%;
    color: white;
    text-shadow: 0.6px 0.6px 0.6px black;
}

* {
    padding: 0px;
    margin: 0px;
}