<div class="container" [style.max-width.px]="widthFluxograma">
    <div *ngIf="curso" class="row" [style.min-width.px]="widthFluxograma">

        <div *ngFor="let periodo of gradeCurso">

            <p id="periodo-box" class="border border-dark">{{periodo.periodo}}° Semestre</p>
            <div *ngFor="let materia of periodo.materias">
                <div>
                    <a id="nome-box" class="border border-black rounded" (mouseover)="updateGradeColorOnOver(materia.codigo)" (mouseout)="resetGradeColor()" [ngStyle]="{ 'background-color': materia.cor.background, 'color': materia.cor.texto}
" href="#">
                        {{materia.nome}}
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<!--[style.width.px]="widthFluxograma"-->