<div class="container" [style.max-width.px]="widthFluxograma">
    <div *ngIf="curso" class="row" [style.width.px]="widthFluxograma">

        <div *ngFor="let periodo of gradeCurso">

            <p id="periodo-box" class="border border-black rounded">{{periodo.periodo}}° Semestre</p>
            <div *ngFor="let materia of periodo.materias">
                <div>
                    <a id="nome-box" class="border border-black rounded" (mouseenter)="updateGradeColorOnOver(materia.codigo)" (mouseleave)="resetGradeColor()" [ngStyle]="{ 
                        'background-color': materia.cor.background, 
                        'color': materia.cor.texto, 
                        
                        'text-align': center}" href="#">
                        <div id="text-center">
                            {{materia.nome}}
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </div>
</div>

<!--"-->