.container {
    position: absolute;
    left: 0;
    height: 550px;
    margin: 0 auto;
    overflow-y: auto;
    background-color: silver;
}

.row {
    margin: 1px;
}

#periodo-box {
    display: block;
    background-color: white;
    width: 120px;
    height: 25px;
    padding-bottom: 1px;
    margin: 8px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#nome-box {
    display: block;
    width: 120px;
    height: 70px;
    margin: 8px;
    padding: 3px;
    user-select: none;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
    -moz-box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
    box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
    font-size: 11pt;
    text-align: center;
}

#nome-box:hover {
    background-color: rgb(55, 202, 26);
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    text-decoration: none;
}