.container {
    overflow: auto;
}

.row {
    background-color: silver;
}

#periodo-box {
    display: block;
    background-color: white;
    width: 130px;
    height: 25px;
    padding-bottom: 1px;
    margin: 8px;
    text-align: center;
    height: bold;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#nome-box {
    display: block;
    background-color: white;
    width: 130px;
    height: 80px;
    padding: 5px;
    margin: 8px;
    text-align: center;
    font-weight: lighter;
    user-select: none;
}

#nome-box:hover {
    background-color: green;
    -webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    color: white;
}