.tituloCursos {
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-weight: bold;
    color: rgb(85, 85, 85);
    text-shadow: 1px 1px 1px rgb(190, 190, 190);
    margin-left: 2%;
    
}

.input-group-prepend {
    margin: 1%;
    margin-bottom: 1.2%;
    width: 100%;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursosContainer {
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 35vw;
    border: 0.1px solid rgb(128, 128, 128);
    border-top: none;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    max-height: 65vh;
    /* border-bottom: 1px solid rgb(128, 128, 128); */
    overflow-x: auto;
    overflow-y: auto;
}

.infoCurso {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 127, 127, 0.2);
    border: 0.1px solid rgb(158, 158, 158);
    border-bottom: 1px solid rgb(128, 128, 128);
}

.infoCurso:hover {
    text-decoration: none;
    background-color: rgb(127, 127, 127, 0.4);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nomeCurso {
    display: flex;
    align-items: center;
    margin-top: 4%;
    text-shadow: 0.5px 0.5px 0.5px white;
}

.nomeCurso #nomeCurso {
    font-weight: bold;
    font-family: 'Century Gothic', sans-serif;
    font-size: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
}